<iframe
  width="380"
  height="245"
  frameborder="0"
  scrolling="no"
  src="https://marketools.plus500.com/Widgets/FeedsAffiliatesTabsContainer?hl=pt&cty=PT&cat=MostPopular&isNT=False&ly=Wide&th=Light&isRF=False&op=Plus500CY&id=126853&tags=widg&pl=2"
></iframe>

<br />

<script
  async
  src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
></script>
<!-- bolsa.pt -->
<ins
  class="adsbygoogle"
  style="display: inline-block; width: 200px; height: 90px;"
  data-ad-client="ca-pub-1916739305935270"
  data-ad-slot="6762918833"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<br />
