{% include top.html %}

<body>
  {% include cookie.html %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=615281001883865&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="wrapper">
    {% include header.html %}

    <section>
      <iframe width="380" height="245" frameborder="0" scrolling="no" src="https://marketools.plus500.com/Widgets/FeedsAffiliatesOneTabContainer?hl=pt&cty=PT&cat=MostPopular&isNT=False&ly=Wide&th=Light&isRF=False&op=Plus500CY&id=126853&tags=widg&pl=2"></iframe>
      <br/>
      {{ content }}
    </section>

    {% include footer.html %}
  </div>
  {% include analytics.html %}

</body>
</html>
